* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: pink;
    border-width: 1px;
}

body {
    background: #FFFF;
    font-family: 'Sedan', Courier New, Courier, monospace;
}

.underlabel {
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    top: 0;
    left: 0rem;
}

.underlabel-text {
    color: black;
    opacity: 5%;
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 35rem;
    white-space: none;
}

.text-header {
    margin-bottom: 1em;
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 32px;
}

/* ==== SIDEBAR ==== */

.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFF;
    overflow-x: hidden;
    padding: 25px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.sidebar-social {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #FFFF;
    width: 0;
    height: 100%;
    top: 0;
    left: 100px;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 1s;
}

.close-button {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    padding: 25px;
}

.menu-links {
    display: flex;
    flex-direction: column;
}

.menu-index {
    font-size: 32px;
    padding: 10px;
}

.sidebar-menu a {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 128px;
    font-weight: 600;
    white-space: nowrap;
}

.sidebar-menu a:hover {
    background-color: #E21836;
}

/* ==== HERO ==== */

.hero-section {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 128px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 750px;
    width: 750px;
    transition: 2s;
}

.heading-line {
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.heading-line:not(last-child) {
    margin-bottom: 0;
}

.heading-line:last-child {
    justify-content: flex-end;
    color: #E21836;
}

.line-subtitle {
    font-family: 'Sedan', Courier New, Courier, monospace;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 1em;
}

.line-title {
    margin-bottom: -.19em;
}

/* ==== ABOUT ==== */

.about-section {
    padding-top: 250px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 200px 0;
}

.about-text {
    margin: 0 auto 100px;
    padding-top: 40px;
    max-width: 450px;
}

.img-col {
    display: flex;
}
.img-frame {
    margin: 0 auto 100px;
    width: 250px;
    height: 250px;
}

/* ==== EXPERIENCE ==== */

.exp-section {
    height: 1500px;
    padding-top: 250px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
}

.exp-section .underlabel {
    transform: rotate(90deg) translate(500px, 500px);
}

.exp-section .underlabel-text {
    font-size: 25rem;
}

.exp-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 100px;
}

.exp-card {
    display: flex;
    gap: 30px;
    width: 800px;
    padding: 20px;
    font-size: 16px;
}

.exp-date {
    white-space: nowrap;
    text-transform: uppercase;
}

.exp-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.exp-card-content h2 {
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 26px;
}

.skill-bar {
    display: flex;
    gap: 10px;
}

.skill-pill {
    padding: 5px 10px;
    border-radius: 50px;
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
}

.resume-link {
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
    font-size: 26px;
}

/* ==== PROJECTS ==== */

.projects-section {
    padding-top: 400px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.project-container {
    display: flex;
}

.proj-img-col {
    width: 200px;
}

.project-img {
    max-width: 200px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 600px;
}

.project-card-head {
    display: flex;
}

.project-card-head h2 {
    font-family: 'Bebas Neue', Courier New, Courier, monospace;
}

.project-desc {

}

/* ==== CONTACT ==== */

.contact-section {
    padding-top: 250px;
    padding-bottom: 500px;
    position: relative;
}