:root {
    /* colors */
    --clr-primary: #1d1d1d;
    --clr-secondary: #eceae4; 
    --clr-tertiary: black;
    --clr-text: white;
    --clr-accent: #E21836;

    /* font families */
    --ff-primary: 'Bebas Neue', sans-serif;
    --ff-secondary: 'Sedan', serif;

    /* font weights */
    --fw-thin: 200;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* font sizes */
    --fs-display-xl: 128px;
    --fs-display-l: 96px;
    --fs-display-m: 52px;
    --fs-display-s: 44px;
    --fs-display-xs: 36px;

    --fs-heading-xxl: 40px;
    --fs-heading-xl: 36px;
    --fs-heading-l: 32px;
    --fs-heading-m: 28px;
    --fs-heading-s: 24px;
    --fs-heading-xs: 20px;

    --fs-paragraph-l: 18px;
    --fs-paragraph-m: 16px;
    --fs-paragraph-s: 14px;
    --fs-paragraph-xs: 12px;

    /* line height */
    --lh-display-xl: 112px;
    --lh-display-l: 112px;
    --lh-display-m: 64px;
    --lh-display-s: 52px;
    --lh-display-xs: 44px;

    --lh-heading-xxl: 52px;
    --lh-heading-xl: 44px;
    --lh-heading-l: 40px;
    --lh-heading-m: 36px;
    --lh-heading-s: 32px;
    --lh-heading-xs: 28px;

    --lh-paragraph-l: 28px;
    --lh-paragraph-m: 24px;
    --lh-paragraph-s: 20px;
    --lh-paragraph-xs: 20px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border-style: solid; */
    border-color: pink;
    border-width: 1px;
}

body {
    background: var(--clr-primary);
    font-family: var(--ff-secondary);
    color: var(--clr-text);
}

h2 {
    font-weight: var(--fw-thin);
}

.underlabel {
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    top: 0;
    left: 0;
}

.underlabel-text {
    color: white;
    opacity: 5%;
    font-family: var(--ff-primary);
    font-size: 35rem;
    white-space: none;
}

.text-header {
    margin-bottom: 1em;
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-l);
    
}

.text-header b {
    color: var(--clr-accent);
}

/* ==== SIDEBAR ==== */

.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    padding: 25px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.menu-button {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--clr-text);
}

.sidebar-social {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-social a {
    text-decoration: none;
    color: var(--clr-text);
}

.sidebar-social a:hover {
    color: var(--clr-accent);
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--clr-accent);
    width: 0;
    height: 100%;
    top: 0;
    left: 100px;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 1s;
}

.close-button {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    padding: 25px;
}

.menu-links {
    display: flex;
    flex-direction: column;
}

.menu-index {
    font-size: var(--fs-heading-l);
    padding: 10px;
}

.sidebar-menu a {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: var(--ff-primary);
    font-size: var(--fs-display-xl);
    font-weight: var(--fw-bold);
    white-space: nowrap;
}

.sidebar-menu a:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text);
    transition: 0.5s;
}

/* ==== HERO ==== */

.hero-section {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 750px;
    width: 750px;
    transition: 2s;
}

.heading-line {
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.heading-line:not(last-child) {
    margin-bottom: 0;
}

.heading-line:last-child {
    justify-content: flex-end;
    color: var(--clr-accent);
}

.line-subtitle {
    font-family: var(--ff-secondary);
    font-size: var(--fs-paragraph-l);
    line-height: var(--lh-paragraph-l);
    padding-left: 20px;
    margin-bottom: 1em;
}

.line-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-display-xl);
    line-height: var(--lh-display-xl);
}

/* ==== ABOUT ==== */

.about-section {
    padding-top: 250px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
}

.about-section .underlabel {
    left: 100px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 200px 0;
}

.about-text {
    margin: 0 auto 100px;
    padding-top: 40px;
    max-width: 450px;
    font-size: var(--fs-paragraph-m);
    line-height: var(--lh-paragraph-m);
}

.img-col {
    display: flex;
}

.img-frame {
    margin: 0 auto 100px;
    width: 250px;
    height: 250px;
}

/* ==== EXPERIENCE ==== */

.exp-section {
    height: 1500px;
    padding-top: 250px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
}

.exp-section .underlabel {
    transform: rotate(90deg) translate(500px, 500px);
    left: 300px;
}

.exp-section .underlabel-text {
    font-size: 20rem;
    color: black;
    opacity: 5%;
}

.exp-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 200px;
}

.exp-card {
    display: flex;
    gap: 30px;
    width: 800px;
    padding: 20px;
    font-size: var(--fs-paragraph-m);
    line-height: var(--lh-paragraph-m);
}

.exp-date {
    white-space: nowrap;
    text-transform: uppercase;
}

.exp-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.exp-card-content h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-m);
    
}

.skill-bar {
    display: flex;
    gap: 10px;
}

.skill-pill {
    padding: 5px 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    font-family: var(--ff-secondary);
    font-size: var(--fs-paragraph-s);
    line-height: var(--lh-paragraph-s);
    border-color: var(--clr-accent);
    color: var(--clr-accent);

}

.resume-link a {
    text-decoration: none;
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-m);
}

.resume-link a:hover {
    color: var(--clr-accent);
}

/* ==== PROJECTS ==== */

.projects-section {
    padding-top: 450px;
    padding-bottom: 500px;
    margin-left: 100px;
    position: relative;
}

.projects-section .underlabel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.project-container {
    display: flex;
}

.proj-img-col {
    width: 200px;
}

.project-img {
    max-width: 200px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    max-width: 600px;
    font-size: var(--fs-paragraph-m);
    line-height: var(--lh-paragraph-m);
}

.project-card-head {
    display: flex;
}

.project-card-head h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-heading-m);
}

.project-desc {

}

/* ==== CONTACT ==== */

.contact-section {
    padding-top: 250px;
    padding-bottom: 500px;
    position: relative;
}